*{
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
    height: 100px;
    width: 100%;
}
header>h2{
    margin-right: 10px;
}

figure{
    gap: 10px;
    background-color: yellow;
}


main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}
figure{
    width:300px;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

figure:first-of-type img{
    background-image: url(./img/snk.jpg);
    background-position: bottom 0 left 50%;
}

figure:nth-of-type(2) img{
    background-image: url(./img/mushoku\ tensei.jpg);
}

figure:nth-of-type(3) img{
    background-image: url(./img/1200x680_deathnote.jpg);
}
figure:nth-of-type(4) img{
    background-image: url(./img/demon-slayer-saison-2-episode-date-de-sortie-streaming-vostfr.jpg);
}
figure:nth-of-type(5) img{
    background-image: url(./img/guts-berserk-anime-wallpaper.md.jpg);
}
figure:nth-of-type(6) img{
    background-image: url(./img/tower\ of\ god.jpg);
}
figure:nth-of-type(7) img{
    background-image: url(./img/kingdom.jpg);
}
figure:nth-of-type(8) img{
    background-image: url(./img/hajime\ no\ ippo.jpg);
}
figure:nth-of-type(9) img{
    background-image: url(./img/haikyuu-saison-5.jpeg);
}
figure:last-of-type img{
    background-image: url(./img/bloody_brat_vo_3620.jpg);
}

img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 200px;
    width: 100%;
}